@charset "utf-8";

#wrapper {
    margin: 16px;
    padding: 16px;
    background-color: black;
}

h1 {
    font-size: 20px;
    color: white;
}

#imageholder {
    text-align: center;
}

a img {
    margin-bottom: 90px;
}

#img_large {
    width: 400px;
    height: 300px;
}

#thumbsholder {
    margin-top: 8px;
    padding: 6px;
    background: lightgray;
}

#thumbsholder img {
    margin-right: 2px;
}